@page "/expenses"
@using ExpensesTracker.Server.Services
@using ExpensesTracker.Common.EntityModel.Sqlite

@attribute [StreamRendering]
@inject IWalletController WalletController;

<PageTitle>Expenses</PageTitle>
<h3>Expenses</h3>

@*<div class="form-group">
    <a class="btn btn-info" href="AddNewExpense">
        <i class="oi oi-plus"></i> Add new
    </a>
</div>*@

@if (_expenses is null)
{
    <div class="align-content-center spinner-border">
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Wallet</th>
            <th>Category</th>
            <th>Label</th>
            <th>Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in _expenses)
        {
            <tr>
                <th>@entry.Date</th>
                <th>@entry.WalletId</th>
                <th>@entry.CategoryId</th>
                <th>@entry.LabelId</th>
                <th>@entry.Amount</th>
                <th>
                    <a class="btn btn-info" href="editEntry/{@entry.EntryId}">
                        <i class="oi oi-pencil"></i>
                    </a>
                    <a class="btn btn-danger" href="removeEntity/{@entry.EntryId}">
                        <i class="oi oi-trash"></i>
                    </a>
                </th>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    private IEnumerable<WalletEntry> _expenses;

    protected override async Task OnInitializedAsync()
    {
        _expenses = await WalletController.GetAllExpenses();
    }
}