@using ExpensesTracker.Pages
@inherits ExpensesBase
@page "/expenses"

<PageTitle>Expenses</PageTitle>
<h3>Expenses</h3>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="form-group col-5">
                <a class="btn btn-primary" href="AddNewExpense">
                    <i class="oi oi-plus"></i> Add new
                </a>
            </div>
            <div class="col-5">
                <ImportData OnParseCallback="OnDataImported"/>
            </div>
        </div>

        @if (_expenses is null)
        {
            <div class="align-content-center spinner-border">
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Wallet</th>
                    <th>Category</th>
                    <th>Label</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var entry in _expenses)
                {
                    <tr>
                        <th>@entry.Date</th>
                        <th>@_wallets.FirstOrDefault(w => w.Id == entry.WalletId)!.Name</th>
                        <th>@_categories.FirstOrDefault(c => c.Id == entry.CategoryId)!.Name</th>
                        <th>@_labels.FirstOrDefault(l => l.Id == entry.LabelId)!.Name</th>
                        <th>@entry.Amount</th>
                        <th>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-info" href="/EditEntry/@entry.EntryId">
                                        <i class="fluent--pen-20-filled"></i>
                                    </a>
                                </div>
                                <div class="col">
                                    <form method="post" @onsubmit="@(()=>RemoveEntry(entry.EntryId))" @formname="@($"DeleteEntrt_{entry.EntryId}")">
                                    <AntiforgeryToken />
                                        <button class="btn btn-danger">
                                            <i class="ooui--trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>    
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>
