@* @model ExpensesTracker.Views.Wallets.WalletModel *@
@model ExpensesTracker.Models.WalletViewModel

<h2>Wallet : @Model.WalletName</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Label</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Entries)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => e.Date)</th>
                <th>@Html.DisplayFor(modelItem => e.Amount)</th>
                <th>@Html.DisplayFor(modelItem => e.Category)</th>
                <th>@Html.DisplayFor(modelItem => e.Label)</th>
                <th>
                    @Html.ActionLink("Edit", "Edit", "Wallet", new { entryId = e.EntryId}) |
                    @Html.ActionLink("Delete", "Delete", "Wallet", new { entryId = e.EntryId})
                </th>
            </tr>
        }
    </tbody>
</table>