@page "/expenses"
@inherits ExpensesBase

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveWebAssembly
@attribute [Authorize]

<PageTitle>Expenses</PageTitle>


@if (ShowLoading)
{
    <div class="text-center">
    <h3>Loading...</h3>
</div>
}
else
{
    <div class="tables w-75">
    <QuickGrid Items="@_expenses.AsQueryable()" Pagination="@pagination">
        <PropertyColumn Property="@(c=>c.Date)" Title="Date" />
        <PropertyColumn Property="@(c=> _wallets.FirstOrDefault(w=>w.Id == c.WalletId).Name)" Title="Wallet" />
        <PropertyColumn Property="@(c=> _categories.FirstOrDefault(w=>w.Id == c.CategoryId).Name)" Title="Category" />
        <PropertyColumn Property="@(c=> _labels.FirstOrDefault(w=>w.Id == c.LabelId).Name)" Title="Label" />
        <PropertyColumn Property="@(c=>c.Amount)" Title="Value" />
        <TemplateColumn>
            <button class="btn btn-info" @onclick="()=> EditEntry(context.EntryId)">
                <i class="fluent--pen-20-filled"></i>
            </button>

            <button class="btn btn-danger" @onclick="()=> RemoveEntry(context.EntryId)">
                <i class="ooui--trash"></i>
            </button>
        </TemplateColumn>
    </QuickGrid>
</div>
    <Paginator State="@pagination" />
}

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 20 };
}