@using ExpensesTracker.Pages
@inherits ExpensesBase
@page "/expenses"

<PageTitle>Expenses</PageTitle>
<h3>Expenses</h3>

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="form-group col-5">
                <MudButton Href="AddNewExpense" Variant="Variant.Text" Color="Color.Primary">Add new</MudButton>
            </div>
        </div>
            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:550px">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Wallet</th>
                    <th>Category</th>
                    <th>Label</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @if(ShowLoading)
                {
                    <MudOverlay @bind-Visible="ShowLoading" DarkBackground="true" AutoClose="false">
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                    </MudOverlay>
                }else{
                    @foreach (var entry in _expenses)
                    {
                        <tr>
                            <th>@entry.Date</th>
                            <th>@_wallets.FirstOrDefault(w => w.Id == entry.WalletId)!.Name</th>
                            <th>@_categories.FirstOrDefault(c => c.Id == entry.CategoryId)!.Name</th>
                            <th>@_labels.FirstOrDefault(l => l.Id == entry.LabelId)!.Name</th>
                            <th>@entry.Amount</th>
                            <th>
                                <div class="row">
                                    <div class="col">
                                        <MudIconButton HRef="@($"EditEntry/{entry.EntryId}")" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                                    </div>
                                    <div class="col">
                                        <MudIconButton ButtonType="ButtonType.Button" OnClick="@(()=>RemoveEntry(entry.EntryId))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Large" />
                                    </div>
                                </div>    
                            </th>
                        </tr>
                    }
                }
                
                </tbody>
            </MudSimpleTable>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
